*
!.config/
!.config/alacritty/
!.config/alacritty/*
!.config/nvim/
!.config/nvim/*
.config/nvim/lazy-lock.json
!.config/nvim/lua/
!.config/nvim/lua/*
.config/nvim/.luarc.json
.config/nvim/lua/.luarc.json
!.config/nvim/lua/plugins/
!.config/nvim/lua/plugins/*
!.config/tmux/
!.config/tmux/*
!.gitignore
!.zprofile
!.config/zsh/
!.config/zsh/.zshrc
!.config/zsh/.zprofile
